@font-face { font-family: Test; src: url('fontawesome-webfont.ttf'); } 

div.container{text-align:center!important;}

html *
{
	font-family: Test !important;
}

.map 
{
	height: 300px;
    width: 300px;
}

.small 
{
	position: relative;
    left: 60%;
    margin-left: -200%;
	cursor : pointer;
	transition : left 1s, margin-left 1s
}

.large
{
	position: relative;
    left: 0%;
    margin-left: 0%;
	cursor : pointer;
	transition : left 1s, margin-left 1s
}

.small-cont
{
	width: 30%;
    text-align: center;
    overflow: hidden;
	
	transition : width 1s
}

.large-cont
{
	width: 100%;
    text-align: center;
    overflow: hidden;
	
	transition : width 1s
}

.large-story
{
	display : block;
	margin-left: -20px;
	max-height: 338px;
        overflow: hidden;
	width : 70%;
	transition : width 1s;
	transition-delay: 0.1s;
}

.small-story
{
	display : none;
	margin-left: -20px;
	max-height: 342px;
        overflow: hidden;
	width : 0%;
	transition : width 0.7s;
}

.details
{
	padding-top: 50px;
}
