@font-face { font-family: Test; src: url('fontawesome-webfont.ttf'); } 

div.container{text-align:center!important;}

html *
{
	font-family: Test !important;
}

.map 
{
	height: 300px;
    width: 300px;
}

img.resize {
  max-width:50%;
  max-height:50%;
}